<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahorcado</title>
</head>
<body>
    Bienvenido al ahorcado
<form action="/" method="post">
    <input type="text" name="letra" id="letra"/>
    <input type="submit" value="Arriesgar">
</form>
<h3><%=@resultado %></h3>
</body>
</html>